In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot 
#import statsmodels.api as st
import seaborn as sns

In [12]:
df=pd.read_csv("D:\Bootcamp\Machine_Learning\Advertising.csv")
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [53]:
df.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   radio      200 non-null    float64
 2   newspaper  200 non-null    float64
 3   sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [23]:
#mi target es sales por tanto es la Y y la X es el resto de variables
X=df.drop("sales",axis=1)
y=df.sales

In [24]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test =train_test_split(X,y, test_size=0.3, random_state=101)

# Decision tree

In [30]:
#Creo el modelo
from sklearn.tree import DecisionTreeRegressor

#no escalamos porque el decision tree lo escala por su cuenta

model=DecisionTreeRegressor(max_depth=8, random_state=5)

In [31]:
#fiteo el modelo

model.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=8, random_state=5)

In [32]:
predicttree=model.predict(X_test)

In [33]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test,predicttree)

1.058741898148148

### Decision tree probamos con max depth 3

In [39]:
modelnuevodepth=DecisionTreeRegressor(max_depth=3, random_state=5)

In [40]:
modelnuevodepth.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=3, random_state=5)

In [41]:
predicttree2=modelnuevodepth.predict(X_test)

In [42]:
mean_squared_error(y_test,predicttree2)

4.268560927387528

Cross validation

# Cross validation

In [43]:
df2=pd.read_csv("D:\Bootcamp\Machine_Learning\Advertising.csv")
df2

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [45]:
#mi target es sales por tanto es la Y y la X es el resto de variables
X=df2.drop("sales",axis=1)
y=df2.sales

In [47]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test =train_test_split(X,y, test_size=0.3, random_state=101)

In [48]:
#Creo el modelo
from sklearn.tree import DecisionTreeRegressor

#no escalamos porque el decision tree lo escala por su cuenta

model=DecisionTreeRegressor(max_depth=8, random_state=5)

In [56]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(model, X_train,y_train, scoring="neg_mean_squared_error", cv=5)
scores

array([-1.17081835, -1.25095476, -4.14446429, -1.27285714, -1.20337143])

In [58]:
abs(scores.mean())

1.8084931944444445

## cross validation con max depth 3

In [77]:
model=DecisionTreeRegressor(max_depth=1, random_state=5)

In [78]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(model, X_train,y_train, scoring="neg_mean_squared_error", cv=5)
scores

array([-19.42985829, -14.28258935, -16.32634101, -13.61539602,
        -9.98816068])

In [79]:
abs(scores.mean())

14.728469068436237

# grid search cv

In [81]:
from sklearn.model_selection import train_test_split, GridSearchCV
X_train, X_test, y_train, y_test =train_test_split(X,y, test_size=0.3, random_state=5)

In [88]:
param_grid={
    "max_depth": [range(3,10)],
    "min_samples_split": [2,5,10],
    "min_samples_leaf":[1,2,3],
    "max_features": [1.0,"sqrt","log2"]
}

In [100]:
model=DecisionTreeRegressor()

In [101]:
grid_search=GridSearchCV(model,param_grid=param_grid, scoring="neg_mean_squared_error", cv=5)

In [103]:
grid_search.best_params_

AttributeError: 'GridSearchCV' object has no attribute 'best_params_'

In [93]:
best_estimator=grid_search.best_estimator_

AttributeError: 'GridSearchCV' object has no attribute 'best_estimator_'

In [91]:
best_estimator

NameError: name 'best_estimator' is not defined

In [102]:
mean_squared_error(y_test, best_estimator.predict(X_test))

NameError: name 'best_estimator' is not defined

In [106]:
#

In [111]:
df = pd.read_csv('advertising.csv')
X= df.drop('sales', axis=1)
y = df.sales

In [112]:
from sklearn.model_selection import train_test_split, GridSearchCV
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=101)
from sklearn.tree import DecisionTreeRegressor
param_grid = {
    'max_depth':[3,5,7],
    'min_samples_split':[2,5,10],
    'min_samples_leaf':[1,2,3],
    'max_features':[1.0,'sqrt','log2']
    }

In [114]:
model = DecisionTreeRegressor()
grid_search=GridSearchCV(model,param_grid=param_grid, scoring="neg_mean_squared_error", cv=5)

In [115]:
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(),
             param_grid={'max_depth': [3, 5, 7],
                         'max_features': [1.0, 'sqrt', 'log2'],
                         'min_samples_leaf': [1, 2, 3],
                         'min_samples_split': [2, 5, 10]},
             scoring='neg_mean_squared_error')

In [116]:
grid_search.best_params_

{'max_depth': 7,
 'max_features': 1.0,
 'min_samples_leaf': 1,
 'min_samples_split': 5}

In [118]:
best_estimator=grid_search.best_estimator_

In [119]:
best_estimator

DecisionTreeRegressor(max_depth=7, max_features=1.0, min_samples_split=5)

In [121]:
predit_y=best_estimator.predict(X_test)

In [122]:
mean_squared_error(y_test, best_estimator.predict(X_test))

1.2038757870370367